<!-- side menu -->
<div ng-controller="DinnerCtrl">
	<div id="exampleView">
		<div id="sideMenu">
			<div class="col-md-2">
			<h3>My planner</h3>
      		<div>
          	People: <input type="number" ng-model="numberOfGuest" ng-change="setNumberOfGuest(numberOfGuest)" min="1"/>

			      Total number of guest: {{numberOfGuest}}

      		</div>
      		<div style="width:100%;padding:5% 0 5% 0;">
 	  			<div style="width:80%;float:left;background-color:#efefef;">Dish Name</div>
 	  			<div style="width:20%;float:right;background-color:#efefef;">Cost</div>
	      	</div>

		  	<div style="width:100%;" ng-repeat="dish in menu" >
				<span class="glyphicon glyphicon-remove clickable" ng-click="removeDish(dish.RecipeID)" ></span>{{dish.Title}}
    			<div style="width:20%;float:right;" ng-model="dishPrice" >{{dishPrice(dish).toFixed(1)}}</div>
		  	</div>
		  	<br/><br/>
			
			<div style="padding:5% 0 0 0;">
				<p align="right" ng-model="fullPrice" >SEK {{fullPrice().toFixed(1)}}</p>
		  	</div>
		  	<center>
		  		<a href="#/confirm"><button class='btn btn-default' id='confirm' type='submit'>Confirm Dinner</button></a>
		  	</center>
  		</div>
  	</div>