<ng-include src="'js/view/header.html'" ></ng-include>
<ng-include src="'js/view/dinner-sidebar.html'"  ng-controller="DinnerCtrl" ></ng-include>

<div class="row"  ng-model="dish" >	
	<div class='col-md-5'>
		<div>
			<center>
				<h2 >{{dish.Title}}</h2>
			</center>
		</div>
		<img width='100%' ng-src="{{dish.ImageURL}}"/>
		<br/><br/>
		<p>{{dish.Instructions}}</p>
		<div id='foodhead'>
			<center>
				<a href="#/create"><button class='btn btn-default' type='submit' style='margin:0% 0% 10% 0%;'>Back to Select Dish</button></a>
			</center>
		</div>
	</div>
 	<div class='row' ng-controller="DinnerCtrl">
	<div class='col-md-4'>
		<center>
		<h2>Ingredients</h2>
		</center>
		<br>
		<div id="ingredients" ng-repeat="ingredient in dish.Ingredients">
			<div id='quantity' class='col-md-2'>{{ingredient.DisplayQuantity}}</div>
			<div id='amount' class='col-md-2'>{{ingredient.Unit}}</div>
			<div id='name' class='col-md-6'>{{ingredient.Name}}</div>
			<div id='price' class='col-md-2'>{{ingredient.Quantity * getNumberOfGuests()}}</div>
		</div>
	</div>
	<br>
	<div id='pending' class='col-md-3' ng-model="pending"><h4>SEK {{pending * getNumberOfGuests()}}</h4><center>
		<span class='confirmDishBtn' id='"+ getId+"'>
			<input class='btn btn-default' type='submit' value='Confirm Dish' style='margin:6% 6% 6% 6%;'>
		</span></center>
	</div>
</div>

