  <!-- Static header -->
  <div class="row">
  <div id="header">
   
      <nav class="navbar navbar-default" style="margin:0 0 0 0;">
          <div class="container-fluid">
              <div class="navbar-header">
              <a class="navbar-brand" href="#"><span class="glyphicon glyphicon-apple" aria-hidden="true"></span></a>
              </div>
              <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                  <ul class="nav navbar-nav">
                      <li><a href="#/home">HOMELETTE</a></li>
                       <li><a href="#/home">From the best chefs in the world directly into your kitchen</a></li>
                  </ul>
                  <ul class="nav navbar-nav navbar-right">

                  </ul>
              </div>
          </div>
      </nav>
   
  </div>