  <!-- Static header -->
<ng-include src="'js/view/header.html'" ></ng-include>
 <!-- start page -->

<div class="row"> 
  <div class="col-md-12" id="startView" style="background-color:#ffffff;height:720px;">
      <div class="row">
        <br/><br/><br/><br/><br/><br/><br/><br/>
        <div class="col-md-4">
        </div>
          <div id="info" class="col-md-4" style="background-color:#f8f8f8;">
            <center><font style="color:#777777;"> <h2>A Home Dinner Service</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            <br/>
            <h5>Start quickly!</h5></font><center>
            <center><a href="#/create"><button class="btn btn-default" id="create" type="submit" style="margin: 0 0 5% 0;">Create New Dinner</button></a></center>
            
          </div>
      </div>
    </div>
</div>

              


