<ng-include src="'js/view/header.html'" ></ng-include>

<div class="row" ng-controller="DinnerCtrl" ><div class="col-md-12">
	<center>
		<div>
		<b><h3>My Dinner: {{numberOfGuest}} people</h3></b>
        <a href="#/create"><button class="btn btn-default" id="goBackBtn" type="submit">Go back and edit dinner</button></a>
        </div>
    </center>
</div>

<center>
	<div class="row">
		<div class='col-md-2' style='margin: 2% 2% 2% 2%' ng-model="fullMenu" ng-repeat="dish in fullMenu">
			<center>
				<h2>{{dish.Title}}</h2>
				<img width='100%' ng-src="{{dish.ImageURL}}"/>
				<br/>
				<h5>{{dishPrice(dish).toFixed(1)}} SEK</h5>
			</center>
		</div>		
		<div class="col-md-12">
			<h2 ng-model="fullPrice" >Total price: {{fullPrice().toFixed(1)}} KR</h2>
			<br>
			<a href="#/print"><button class="btn btn-default" type="submit" id="print">Print full recipe!</button></a>
		</div>
	</div>
</center>