<ng-include src="'js/view/header.html'" ></ng-include>

<div class="row" ng-controller="DinnerCtrl" ><div class="col-md-12">
	<center>
		<div>
		<b><h3>My Dinner: {{numberOfGuest}} people</h3></b>
        <a href="#/confirm"><button class="btn btn-default" id="goBackBtn" type="submit">Go back and edit dinner</button></a>
        </div>
    </center>
</div>

<div class="row">					
	<div class='col-md-12'  ng-model="fullMenu" ng-repeat="dish in fullMenu">
		<div class='col-md-2' style='margin: 2% 2% 2% 2%'>
			<img width='100%' ng-src="{{dish.ImageURL}}"/>
		</div>
		<div class='col-md-3'>
			<h2>{{dish.Title}}</h2>
			<br/>
			<p>{{dish.Description}}</p>
		</div>
		<div class='col-md-4'>
			<h2>Preperation</h2>
			<br>
			<p>{{dish.Instructions}}</p>
		</div>
	</div>	
</div>